h1 {
    background-color: rgb(233, 97, 181);
    text-align: center;
 }
 p {
    text-align: center;
 }
 em {
    font: size 25px;
 }
 .jao {
    background-color: rgb(238, 234, 28);
    font-size: 17px;
}
.lindo {
    background-color: rgb(79, 190, 224);
    font-size: 16px;
}
.legal {
    font-size: 20px;
}
 body {
    background-color: rgb(255, 255, 255);
 }